@import '../../styles/colors.scss';

.yourMasterWrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  transition: background-color 0.5s ease;
  
  .header {
    display: flex;
    padding: 24px 48px;

    a {
      display: flex;
      height: 48px;
      align-items: center;
      padding: 0 16px 0 8px;
      font-size: 18px;
      border: none;
      text-decoration: none;

      img {
        margin-right: 16px;
      }
    }
  }

  .content {
    flex-grow: 1;
    display: grid;
    padding-top: 64px;

    grid-template-columns: auto 600px auto;
    grid-template-rows: auto;
    grid-template-areas:
      ". choose ."
      ". image ."
      "master master master";
    justify-items: center;
    align-items: center;
    row-gap: 56px;

    button {
      grid-area: choose;

      margin-bottom: 24px;

      padding: 0 36px;
      line-height: 56px;
      font-weight: 700;
      border-radius: 10px;
      font-size: 16px;
      outline: none;
      border: none;

      box-shadow: 0px 1px 3px -1px $black;

      &:hover {
        opacity: 0.9;
      }

      &:disabled {
        opacity: 0.5;
        &:hover {
          opacity: 0.5;
        } 
      }
    }

    img {
      grid-area: image;
      border-radius: 50%;
    }

    span {
      grid-area: master;    
      font-size: 36px;
      strong {
        font-size: 36px;
      }
    }
  }

  &[force-side="dark"] {
    background-color: $darkBackground;

    .header {
      a {
        color: white;
      }
    }

    .content {
      button {
        background-color: $white;
        color: $black;
      }

      span {
        color: $white;
      }
    }
  }

  &[force-side="light"] {
    background-color: $lightBackground;

    .header {
      a {
        color: $black;
      }
    }

    .content {
      button {
        background-color: $black;
        color: $lightBackground;
      }

      span {
        color: $black;
      }
    }
  }

  &[choosing-force="yes"] {
    background-color: $white;

    .header {
      a {
        color: $black;
      }
    }

    .content {
      button {
        background-color: $black;
        color: $white;
      }

      div:nth-of-type(1) {
        position: relative;
        grid-area: image;
        width: 380px;
        height: 380px;
        background-color: $disabledBackground;
        border-radius: 50%;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 50%;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
          transform: scale(1);
          animation: pulse 1s infinite;
        }
      }

      div:nth-of-type(2) {
        position: relative;
        width: 430px;
        height: 43px;
        grid-area: master;
        background-color: $disabledBackground;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
          transform: scale(1);
          animation: pulse 1s infinite;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .yourMasterWrap {
    .header {
      display: flex;
      padding: 16px 32px;
    }

    .content {
      grid-template-columns: auto;
      grid-template-areas:
        ". image ."
        "master master master"
        ". choose .";
      row-gap: 24px;

      img {
        transform: scale(0.8);
      }

      span {
        text-align: center;
        strong {
          &::before {
            content: "\a";
            white-space: pre;
          }
        }
      }
    }

    &[choosing-force="yes"] {
      .content {
        div:nth-of-type(1) {
          transform: scale(0.8);
        }

        div:nth-of-type(2) {
          transform: scale(0.8);
          width: 350px;
          height: 86px;
          grid-area: master;
          background-color: $disabledBackground;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
            transform: scale(1);
            animation: pulse 1s infinite;
          }
        }
      }
    }
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
